.App {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-selection {
  width: 200px;
  margin-bottom: 30px;
}

.profile-card {
  transition: transform 0s !important; /* Disable the transition */
  border: 7px solid turquoise;
  text-align: center;
  transition: all 0.8s;
  width: 128px;
  height: 128px;
}

.profile-content {
  font-size: 10px;
}

.profile-card:nth-child(3n + 2) {
  border: 7px solid orange;
}

.pagination {
  margin-top: 20px;
}